In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
data = pd.read_excel('C:\\Users\\Dhruv\\Documents\\Kharif_Crop_Final.xlsx')

In [7]:
data.head()

,Year,Dist Name,Crops,Area,Production,Irrigation,Precipitation,Temperature (MIN),Temperature (MAX)
0,1990,Bareilly,Rice,141.10,309.07,106.20,154.60,24.368,32.808
1,1991,Bareilly,Rice,119.94,217.84,112.46,97.98,24.278,33.588
2,1992,Bareilly,Rice,140.50,248.80,136.48,99.56,24.176,32.990
3,1993,Bareilly,Rice,146.19,282.93,142.46,151.16,24.846,33.302
4,1994,Bareilly,Rice,136.65,248.48,133.33,110.74,24.596,32.996

In [8]:
data.to_csv("transformed_data_kharif.csv", index=False)